#test{
  text-align: center;
}



#test ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff7f00;
    font-size: 1.5em;
}

li {
    float: left;
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: orange;
}

.annonces {
 width:1000px;
 height:300px;
 background:#ff5d00;
 margin:10px auto;
}
