.annonces {
 width:1000px;
 height:200px;
 background-color: #e1d6c6;
 margin:10px auto;
}


#header{
  text-align: center;
}



#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff7f00;
    font-size: 1.5em;
}

li {
    float: left;
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}

h2{
  width: auto;
  text-align: center;
}







h3 {
  margin-right: 0px;
  text-align: right;

}

article {
  width: 550px;
  height: 300px;
  display: inline-block;
  border: 1px solid #CCC;
  background: white;
  font-size:1.1em;
  margin: 20px;
  background-color: orange;

}

article div{
  display:inline-block;
}


.contenair {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}

.text h3 {
  margin-top: 10px;
  text-align: right;
  margin-left: 10px;
}

.text p {
  margin : 10px;
  text-align: left;
}

.text {
  width: 70%;
  margin-left: 50px;
  vertical-align: top;
}

.img {
  width: 17%;
}

#voitures div img {

  margin: 5px;
  margin-left: 30px;
  width: 300px;
}
